
    body {
      font-family: Arial, sans-serif;
      background: linear-gradient(180deg, #1a91da, #0d6efd);
      margin: 0;
      color: #fff;
      text-align: center;
    }
    header {
      padding: 2rem 0;
    }
    .trilhas-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;
      padding: 2rem;
    }
    .card {
      background: #0a4275;
      border-radius: 15px;
      padding: 1.5rem;
      width: 500px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.3);
      text-align: left;
      font-size: 20px;

      transition: transform 0.3s;
    }
    .card:hover {
      transform: translateY(-5px);
    }
    .card h2 {
      margin-top: 0;
      color: #fff;
      font-size: 2rem;
      text-align: center;
      margin-bottom: 40px;
    }
     .card h3 {
      margin-top: 0;
      color: #fff;
      font-size: 1.3rem;
      text-align: left;
      margin-top: 30px;
    }

    .card .summary {
      font-size: 0.9rem;
      margin-bottom: 1rem;
      color: yellow;
      font-size: 20px;
      text-align: justify;
    }
    .course-list {
      list-style: none;
      padding: 0;
      margin: 1rem 0;
    }
    .course-list li {
      margin: 0.4rem 0;
    }
    .course-list a {
      color: white;
      text-decoration: none;
      transition: color 0.3s;
    }
    .course-list a:hover {
      color: #80ffff;
    }

